header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: yellow;
    height: 80px;
    
}

header img{
    width: 75px;
    height: 53px;
    margin-left: 22px;
}

header ion-icon{
    width: 42.19px;
    height: 30.94px;
    margin-right: 24.03px;
}
main{
    margin-top: 106px;
    margin-bottom: 80px;
    height: 100vh;

}

.mensagem{
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 4px;
}

.mensagem p{
    margin-left: 8px;
}

.status{
    background-color: rgba(220, 220, 220, 1) ;
}

.message{
    background-color: rgba(255, 255, 255, 1);

}

.private_message{
    background-color: rgba(255, 222, 222, 1);

}

.fundo{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}

.fundo .lateralEsquerda{
    width: 116px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.6);
}

.participantes{
    width: 100%;
    height: 100%;
    margin-left: 116px;
    background: rgba(255, 255, 255, 1);
    position: fixed;
    
    bottom: 0px;
    left: 0px;
}

.participantes .titulo{
    height: 84px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.escondido{
    display: none;
}


footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: red;
    height: 80px;
    margin-bottom: 0px;
}

footer input{
    width: 300px;
    height: 30px;
    margin-left: 16px;
}

footer ion-icon{
    font-size: 26px;
    margin-right: 18px;
}