*{
    box-sizing: border-box;
    --cor-principal: rgba(255, 255, 255, 1);
    /* --largura: 375px; */
    --largura: 100%;
}

body{
    width: var(--largura);
    font-family: 'Roboto', sans-serif;
}


header{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    position:fixed;
    left: 0;
    top: 0;
    width: var(--largura);
    background-color: var(--cor-principal);
    height: 80px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    
}
header .titulo{
    display: flex;
}

header img{
    width: 75px;
    height: 53px;
    margin-left: 22px;
}

header ion-icon{
    width: 42.19px;
    height: 30.94px;
    margin-right: 24.03px;
}
main{
    margin-top: 106px;
    margin-bottom: 80px;
    overflow: hidden;
    height: 100vh;

}
/* main .mensagens{
    
} */

.mensagem{
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-wrap: wrap;
    height: 40px;
    width: var(--largura);
    margin-bottom: 4px;
}

.mensagem p{
    margin-left: 8px;
}

.status{
    background-color: rgba(220, 220, 220, 1) ;
}

.message{
    background-color: var(--cor-principal);
    
}

.private_message{
    background-color: rgba(255, 222, 222, 1);

}

.fundo{
    width: var(--largura);
    height: 100%;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}

.fundo .lateralEsquerda{
    width: 116px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.6);
}

.participantes{
    /* width: 259px; */
    width: var(--largura);
    height: 100%;
    margin-left: 116px;
    background: var(--cor-principal);
    position: fixed;
    bottom: 0px;
    left: 0px;
}
.participantes .menus{
    margin-left: 17.78px;
    margin-right: 27px;
}

.participantes .titulo{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.participantes .menuTitulo{
    height: 84px;
    width: 214.22px;
    position:fixed;
    left: 133.78px;
    top: 0px;
}

.participantes .usuariosAtivos{
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 84px;
    margin-bottom: 200px;
}

.usuariosAtivos .usuarios{
    overflow: hidden;
    display: flex;
    height: 36px;
}

.participantes .menuVisibilidade{
    height: 138px;
    z-index: 1;
}

.menuVisibilidade .titulo{
    display: flex;
    align-items: center;
    height: 66px;
}

.menuVisibilidade .tipoMensagem{
    display: flex;
    align-items: center;
    height: 36px;
}

.usuariosAtivos p{
    margin-left: 10.44px;
    width: 151px;
}

.usuariosAtivos .check{
    margin-left: 23px;
    font-size: 15px;
    color: #28BB25;
} 

.tipoMensagem p{
    margin-left: 10.44px;
    width: 151px;
}

.tipoMensagem .check{
    margin-left: 23px;
    font-size: 15px;
    color: #28BB25;
} 

.desmarcado{opacity: 0;}

.escondido{
    display: none;
}

.fixar{
    position: fixed;
    width: 214.22px;
    left: 133.78px;
    bottom: 0px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    left: 0px;
    bottom: 0px;
    width: var(--largura);
    background-color: var(--cor-principal);
    height: 80px;
    margin-bottom: 0px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

footer input{
    width: 300px;
    height: 30px;
    margin-left: 16px;
    border: none;
}

textarea:focus, input:focus{
    box-sizing: 0 0 0 0;
    outline: 0;
}

footer ion-icon{
    font-size: 26px;
    margin-right: 18px;
}